@use "../variables/variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $yellow;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}