//! General
@use "../scss/componentes/fonts/fonts";
@use "../scss/componentes/Base/base";
@use "../scss/componentes/variables/variables" as *;

//! Layout
@use "../scss/componentes/header/header.scss";
@use "../scss/componentes/main/main";
@use "../scss/componentes/footer/footer";
@use "../scss/componentes/mediaq/mediaq";

.container {
  width: 90%;
  max-width: 500px;
  min-height: 400px;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 10px 10px 0 $black;
  border: 1px solid $black;
}
